.main {
  background-color: #fafafa;
  flex-grow: 1;
  order: 4;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.project {
  background-color: #dfe3e6;
  border-radius: 3px;
  flex-direction: column;
  display: flex;
  height: 100%;
  position: relative;
  width: 300px;
  margin: 1%;
}

.project-header-wrap {
  display: flex;
  width: 100%;
  min-height: 36px;
  flex-direction: row;
  justify-content: flex-start;
}

.project-header-wrap-div {
  display: flex;
  width: 100%;
  padding: 5px;
  flex-direction: row;
  justify-content: flex-start;
}
.project-header {
  width: 80%;
  height: auto;
}
