.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project {
  background-color: white;
  border-radius: 5px;
  border: none;
  box-shadow: 3px 3px 3px 3px rgba(84, 163, 209, 0.08);
  flex-direction: column;
  display: flex;
  height: 100%;
  position: relative;
  width: 300px;
  margin: 1%;
  &:hover {
    box-shadow: 3px 10px 20px 3px rgba(119, 115, 115, 0.3);
  }
}

.project-header-wrap {
  display: flex;
  min-height: 45px;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 5px 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.0975);
}

.project-header-wrap-div {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: flex-start;
  &:hover {
    .delete-project-div {
      display: block;
    }
  }
}
