.body {
  height: 100%;
  width: 100%;
}

.content {
  min-height: 970px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 100;
}

.section {
  min-height: 790px;
  margin-top: 20px;
  width: 1000px;
  height: auto;
  position: relative;
}
