.delete-project-div {
  width: 20%;
  display: none;
}

.delete-project {
  font-size: 15px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  width: 100%;
  height: 100%;
  text-align: center;
}
