.Header {
  height: 80px;
  width: 100%;
  background-color: #fafafa;
}
.Header-nav {
  background-color: #fafafa;
  padding: 0;
  order: 0;
  margin: 0;
  position: relative;
  height: 100%;
  width: 100%;
}

.Header-height {
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.0975);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  height: 80px;
  justify-content: center;
  display: flex;
}

.Header-center {
  display: flex;
  flex-direction: row;
  height: 40px;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
  padding: 20px 20px;
  width: 100%;
}
.Header-wrap {
  -webkit-box-flex: 1;
  flex: 1 9999 0%;
  min-width: 40px;
}
.Name {
  display: flex;
  justify-content: flex-start;
  font-size: 30px;
}
