.pop-main {
  display: none;
  height: 100%;
  left: 0;
  overflow-y: auto;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 20;
}

.details {
  align-items: flex-start;
  background: white;
  border-radius: 5px;
  box-shadow: 5px 5px 5px 5px rgba(9, 45, 66, 0.08);
  overflow: hidden;
  position: absolute;
  width: 300px;
  min-height: 300px;
  z-index: 70;
  left: 0;
  top: 0;
}

// .login-sign {
//   align-items: flex-start;
//   background: white;
//   border-radius: 5px;
//   box-shadow: 5px 5px 5px 5px rgba(9, 45, 66, 0.08);
//   overflow: hidden;
//   position: absolute;
//   width: 200px;
//   height: 200px;
//   z-index: 70;
//   left: 0;
//   top: 0;
// }
