html,
body {
  height: 100%;
  width: 100%;
  background-color: #fafafa;
  margin: 0;
  overflow-y: scroll;
}

#root {
  height: 100%;
  z-index: 0;
  align-items: stretch;
  border: 0 solid #000;
  box-sizing: border-box;
  display: flex;
  -webkit-box-orient: vertical;
  flex-direction: column;
  flex-shrink: 0;
  margin: 0;
  padding: 0;
  position: relative;
}
